<a href="https://colab.research.google.com/github/BetoRdz01/Valores-Nulos/blob/main/Act2_1_Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Valores Nulos**
Albert Rodr√≠guez Porras | A01721497

In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('Ventas_totales.csv')
pd.options.display.float_format = '{:.2f}'.format
df

,indice_tiempo,ventas_precios_corrientes,ventas_precios_constantes,ventas_totales_canal_venta,salon_ventas,canales_on_line,ventas_totales_medio_pago,efectivo,tarjetas_debito,tarjetas_credito,...,almacen,panaderia,lacteos,carnes,verduleria_fruteria,alimentos_preparados_rotiseria,articulos_limpieza_perfumeria,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
0,01/01/2017,27858.90,27477.30,27858872.08,27591730.13,267141.96,27858872.08,10230100.13,6864575.38,9047205.49,...,6705475.32,945906.31,2880656.17,2606192.94,1050313.64,340777.39,4397543.67,772371.85,1838507.10,2806660.31
1,01/02/2017,25994.20,25223.40,25994200.17,25749179.40,245020.77,25994200.17,9719067.34,6438494.01,8309150.30,...,6576624.80,925618.61,2855639.90,2600083.59,1026166.54,328288.70,4053283.77,672290.52,1257661.90,2354084.90
2,01/03/2017,27780.00,26334.30,27780006.52,27472228.72,307777.80,27780006.52,10244442.51,6908522.96,8845010.49,...,7437264.17,1016147.66,3188259.17,2824976.73,1075525.84,353335.15,4354197.61,667696.67,1305674.92,2266189.28
3,01/04/2017,29134.30,27045.90,29134272.22,28827479.49,306792.73,29134272.22,10312632.37,7454251.80,9458166.68,...,8211244.09,1132396.23,3257140.16,3006158.76,1037213.16,359694.45,4355706.65,838948.25,1535726.34,2146755.89
4,01/05/2017,27969.00,25631.90,27969004.68,27569311.41,399693.26,27969004.68,10147613.34,6735747.32,9220929.86,...,7651058.08,1033081.85,3232635.77,2799142.12,982651.16,336568.01,4206101.61,915895.15,1824462.04,2117971.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,01/01/2022,154517.10,45463.40,154517094.20,149697614.60,4819479.55,154517094.20,46962602.22,46053650.13,54048333.12,...,37505172.62,4860317.68,16104766.21,17408486.73,6138441.20,1401929.43,21330213.29,3782646.22,12187552.35,13433071.98
61,01/02/2022,152202.60,23802.10,152202573.40,148406529.30,3796044.08,152202573.40,46290956.21,45283575.25,53705893.17,...,38209790.62,5045920.42,16139816.50,18260738.31,6436027.69,1370639.59,20305446.86,NaN,9189746.14,13301387.17
62,01/03/2022,16.50,24612.40,168982502.30,164321107.30,466135.00,168982502.30,51262080.99,47364363.88,NaN,...,45418860.16,5922819.51,18419163.96,20827602.02,6886240.03,1589119.30,22942013.09,3912852.43,10898787.99,NaN
63,01/04/2022,177148.10,24140.50,177148082.80,173003799.10,4144283.74,177148082.80,53189998.68,50063972.79,65357591.09,...,49991675.91,6746166.56,19309461.59,22877841.24,6510665.78,1719458.55,23131265.85,4228053.87,NaN,11910475.62
64,01/05/2022,179639.20,23234.20,179639238.60,175358487.50,4280751.11,179639238.60,52738110.62,49886787.86,68070088.23,...,50150351.46,6667329.67,20121124.43,22841532.85,6314109.47,1779482.86,23578638.71,5213152.56,12039595.55,12349980.06

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   indice_tiempo                        65 non-null     object
 1   ventas_precios_corrientes            65 non-null     float64
 2   ventas_precios_constantes            65 non-null     float64
 3   ventas_totales_canal_venta           65 non-null     float64
 4   salon_ventas                         59 non-null     float64
 5   canales_on_line                      65 non-null     float64
 6   ventas_totales_medio_pago            65 non-null     float64
 7   efectivo                             65 non-null     float64
 8   tarjetas_debito                      64 non-null     float64
 9   tarjetas_credito                     58 non-null     float64
 10  otros_medios                         64 non-null     float64
 11  ventas_totales_grupo_articulos       65 non-null     float64
 12  subtotal_ventas_alimentos_bebidas    55 non-null     float64
 13  bebidas                              64 non-null     float64
 14  almacen                              63 non-null     float64
 15  panaderia                            64 non-null     float64
 16  lacteos                              64 non-null     float64
 17  carnes                               64 non-null     float64
 18  verduleria_fruteria                  64 non-null     float64
 19  alimentos_preparados_rotiseria       64 non-null     float64
 20  articulos_limpieza_perfumeria        65 non-null     float64
 21  indumentaria_calzado_textiles_hogar  63 non-null     float64
 22  electronicos_articulos_hogar         62 non-null     float64
 23  otros                                61 non-null     float64
dtypes: float64(23), object(1)
memory usage: 12.3+ KB

In [3]:
df.isnull().sum()

indice_tiempo                           0
ventas_precios_corrientes               0
ventas_precios_constantes               0
ventas_totales_canal_venta              0
salon_ventas                            6
canales_on_line                         0
ventas_totales_medio_pago               0
efectivo                                0
tarjetas_debito                         1
tarjetas_credito                        7
otros_medios                            1
ventas_totales_grupo_articulos          0
subtotal_ventas_alimentos_bebidas      10
bebidas                                 1
almacen                                 2
panaderia                               1
lacteos                                 1
carnes                                  1
verduleria_fruteria                     1
alimentos_preparados_rotiseria          1
articulos_limpieza_perfumeria           0
indumentaria_calzado_textiles_hogar     2
electronicos_articulos_hogar            3
otros                                   4
dtype: int64

In [7]:
df2=df.copy()

In [20]:
#salon_ventas, reemplazamos con la media dado a que son valores num√©ricos y considero que la media representa bien las ventas en el sal√≥n
df2['salon_ventas']=df2['salon_ventas'].fillna(round(df['salon_ventas'].mean(),1)) 

#Reemplazamos valores en tarjetas de d√©bito y cr√©dito con la mediana, siendo cantidades que pueden expresarse con esta m√©trica, sin tener influencia de valores at√≠picos.  
df2['tarjetas_debito']=df2['tarjetas_debito'].fillna(round(df['tarjetas_debito'].median(),1))
df2['tarjetas_credito']=df2['tarjetas_credito'].fillna(round(df['tarjetas_credito'].median(),1))

#Reemplazamos con la media para los otros medios y el subtotal de ventas en alimentos y bebidas, pues se considera que la media puede representar correctamente estos pocos
#valores faltantes siendo una medida de tendencia central
df2['otros_medios']=df2['otros_medios'].fillna(round(df['otros_medios'].mean(),1))
df2['subtotal_ventas_alimentos_bebidas']=df2['subtotal_ventas_alimentos_bebidas'].fillna(round(df['subtotal_ventas_alimentos_bebidas'].mean(),1))

In [21]:
df2.isnull().sum()

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                1
almacen                                2
panaderia                              1
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [26]:
#Llenamos nulos con datos del d√≠a anterior (forward fill), siendo un d√≠a que probablemente tiene un comportamiento similar.
df2['bebidas']=df2['bebidas'].fillna(method='ffill')
df2['almacen']=df2['almacen'].fillna(method='ffill')
df2['panaderia']=df2['panaderia'].fillna(method='ffill')

In [27]:
df2.isnull().sum()

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                1
carnes                                 1
verduleria_fruteria                    1
alimentos_preparados_rotiseria         1
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [28]:
#Similar a lo mostrado anteriormente, utilizamos bfill para llenar los datos nulos con los registros del siguiente d√≠a. Esperando que tenga un comportamiento similar. 
df2['lacteos']=df2['lacteos'].fillna(method='bfill')
df2['carnes']=df2['carnes'].fillna(method='bfill')
df2['verduleria_fruteria']=df2['verduleria_fruteria'].fillna(method='bfill')
df2['alimentos_preparados_rotiseria']=df2['alimentos_preparados_rotiseria'].fillna(method='bfill')

In [29]:
df2.isnull().sum()

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    2
electronicos_articulos_hogar           3
otros                                  4
dtype: int64

In [31]:
#Obtenemos que percentil 50 de la columna
df2[['indumentaria_calzado_textiles_hogar', 'electronicos_articulos_hogar', 'otros']].describe()

,indumentaria_calzado_textiles_hogar,electronicos_articulos_hogar,otros
count,63.00,62.00,61.00
mean,1832572.10,4647828.64,5776003.53
std,1098150.76,3276722.00,3325219.36
min,667696.67,1257661.90,2117971.48
25%,1005998.66,2091476.18,3234640.07
50%,1426312.60,3215054.67,4634783.45
75%,2212169.33,6104477.98,7525720.93
max,5213152.56,12754368.89,16665123.15

In [32]:
#reemplazamos los nulos de las columnasrestantes con el percentil 50, una m√©trica de posici√≥n que identifica adecuadamente lo que ser√≠a la posici√≥n del 50% de los datos.  
df2['indumentaria_calzado_textiles_hogar']=df2['indumentaria_calzado_textiles_hogar'].fillna(1426312.60)
df2['electronicos_articulos_hogar']=df2['electronicos_articulos_hogar'].fillna(3215054.67)
df2['otros']=df2['otros'].fillna(4634783.45)

In [33]:
df2.isnull().sum()

indice_tiempo                          0
ventas_precios_corrientes              0
ventas_precios_constantes              0
ventas_totales_canal_venta             0
salon_ventas                           0
canales_on_line                        0
ventas_totales_medio_pago              0
efectivo                               0
tarjetas_debito                        0
tarjetas_credito                       0
otros_medios                           0
ventas_totales_grupo_articulos         0
subtotal_ventas_alimentos_bebidas      0
bebidas                                0
almacen                                0
panaderia                              0
lacteos                                0
carnes                                 0
verduleria_fruteria                    0
alimentos_preparados_rotiseria         0
articulos_limpieza_perfumeria          0
indumentaria_calzado_textiles_hogar    0
electronicos_articulos_hogar           0
otros                                  0
dtype: int64

In [34]:
df2.to_csv('Ventas_totales_limpio.csv')